<mat-toolbar class="toolbar mat-elevation-z8" color="primary">
  <mat-toolbar-row class="mat-elevation-z8">
    <span>CurrencyApp</span>
    <div class="nav">
      <a mat-button routerLinkActive="active-link" routerLink="/latest">Lastest</a>
      <a mat-button routerLinkActive="active-link" routerLink="/last-thirty-days">Last 30 days</a>
      <a mat-button routerLinkActive="active-link" routerLink="/top-five-differences">Top 5 differences</a>
    </div>
    <span class="spacer"></span>
    <form [formGroup]="currencyForm">
      <mat-form-field>
        <mat-label>Base currency</mat-label>
        <mat-select formControlName="currentCurrency">
          <mat-option *ngFor="let currency of currenciesList" [value]="currency">
            {{currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
<app-loader></app-loader>
<router-outlet></router-outlet>